Day 1 Output:

Determine which teams go into which pools
Write the results to the pool masters

Men's: 

Top 2 teams from each pool go into Gold, and best 2 teams of 3rd places (Total: 20, 5 teams x 4 pools)
Next 15 teams go into Silver (Total: 15, 5 teams x 3 pools)
Next 10 go into Bronze (2 pools x 5 teams)

Women's:

Top 2 teams from each pool go into Gold, and best 2 teams of 3rd places (Total: 20, 5 teams x 4 pools)
Next 15 teams go into Silver (Total: 15, 5 teams x 3 pools)
Next 10 go into Bronze (2 pools x 5 teams, single match to 30 then single elim)

In [1]:
# function to finalize pools for 2nd Round
# input: list of team names (sorted by ranking), desired shape

import numpy as np
import pandas as pd

# Retrieve pool rankings (Court names are in M1, W1,...)
# num_pools = 9
# m_pools = ['M' + str(i) for i in range(1,num_pools)]
# f_pools = ['W' + str(i) for i in range(1,num_pools)]

m_pools = ['01', '02', '03', '04', '07', '08', '12', '13', '14']
f_pools = ['05', '06', '09', '10', '11', '15', '16', '17', '18']

input_ws = ["NY Mini 2018 - 1st Round"]
output_ws = ["NY Mini 2018 - Day 2 Pools"]

Run code below to populate Day 2 Men's Gold, Silver, Bronze Brackets (mens_raw for overall)

In [3]:
# Data Frame Construction: (Need this info)
# Pool #, Placement, Team Name, Games (Ratio), Points (Ratio)

import pandas as pd
from ReadWriteGDocs import write_gdoc, read_gdoc_range, write_gdoc_cell

mens_raw = pd.DataFrame()
c=['Ranking', 'Team', 'Games', 'Points']

#Grab data from GDOC
for i in m_pools:
    df=pd.DataFrame(read_gdoc_range(input_ws[0], "CT" + i + " (M)", 27, 2, 31,5), columns=c)
    df.insert(0, 'Pool', i)
    mens_raw=mens_raw.append(df)

#Convert dtype so the sorting is accurate
    
mens_raw['Games']=pd.DataFrame(mens_raw['Games'], dtype=int)
mens_raw['Points']=pd.DataFrame(mens_raw['Points'], dtype=int)
mens_raw['Ranking']=pd.DataFrame(mens_raw['Ranking'], dtype=int)
mens_raw=mens_raw.sort_values(['Ranking', 'Games', 'Points'], ascending=[True, False, False])
mens_raw=mens_raw.reset_index(drop=True)

# Form the Gold, Silver Bronze teams

m_gold = mens_raw.iloc[range(0,18)]
m_silver = mens_raw.iloc[range(18,36)]
m_bronze = mens_raw.iloc[range(36,len(mens_raw))]

m_gold.reset_index(drop=True)
m_silver=m_silver.reset_index(drop=True)
m_bronze=m_bronze.reset_index(drop=True)

Check your work.

Make sure there's 20 teams in GOLD, 15 teams in SILVER, 10 teams in BRONZE

In [4]:
print(len(m_gold))
print(len(m_silver))
print(len(m_bronze))

18
18
9

Finished forming gold, silver, bronze brackets

Output to google docs

In [ ]:
for index,row in m_gold.iterrows():
    for i in range(len(m_gold.columns)):
        write_gdoc_cell(row[m_gold.columns[i]], output_ws[0], "Men's GOLD", index+4, 2+i)

print("Finished with Men's Gold")

for index,row in m_silver.iterrows():
    for i in range(len(m_silver.columns)):
        write_gdoc_cell(row[m_silver.columns[i]], output_ws[0], "Men's SILVER", index+4, 2+i)

print("Finished with Men's Silver")

for index,row in m_bronze.iterrows():
    for i in range(len(m_bronze.columns)):
        write_gdoc_cell(row[m_bronze.columns[i]], output_ws[0], "Men's BRONZE", index+4, 2+i)

print("Finished with Men's Bronze")

In [7]:
m_bronze

  Pool  Ranking                 Team  Games  Points
0   13        5        BOS Knights C      2     -20
1   08        5          NJ Just CIA      2     -33
2   07        5  NY Strangers LoChai      1     -51
3   03        5        BOS Knights X      1     -53
4   14        5            NY Impact      1     -55
5   02        5        BOS Freemason      0     -52
6   04        5           NY Horizon      0     -67
7   12        5      Philly CIA Jrs.      0     -77
8   01        5        Wash DC CYC C      0    -102